---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main"><a href="https://www.publish0x.com?a=4zbqpvkapr"><img src="https://cdn.publish0x.com/prod/fs/images/ebd691c7d4e4b0b0f5a62103f235b0eb7303715321ddf4dd4febc94c762dd099.gif" width="728" height="90" /></a>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
